/* Mobile Phones */
@media screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2px;
        padding: 20px 0px;
        width: 100%;
    }

    .logo a {
        font-size: 25px;
    }

    .navbar a {
        margin-left: 5px;
        font-size: small;
        display: inline-block;
        gap: px;
    }

    img {
        height: 18rem;
        width: 18rem;
    }

    .home {
        flex-direction: column-reverse;
        column-gap: 50px;
    }

    .home-content {
        width: 350px;
    }

    .home-content h1 {
        font-size: 31px;
        margin-top: 30px;
    }

    .home-content h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .home-content p {
        /* border: 2px solid rgb(195, 0, 255); */
        font-size: 15px;
        font-weight: 500;
        color:  #a3b18a;
        margin-bottom: 50px;
    }

    .btnbox a {
        font-size: 13px;
        width: 90px;
    }

    .home-content .btnbox {
        display: flex;
        justify-content: 20px;
        width: 220px;
        height: 40px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        gap: .5rem;
        row-gap: 5px;
        width: 90%;
        margin: 0px 22px;
    }
    

    footer p {
        font-size: 10px;
    }

    /* ABOUT SECTION */
    .header2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2px;
        padding: 20px 0px;
        width: 100%;
    }

    .logo2 {
        font-size: 25px;
    }

    .navbar2 a {
        margin-left: 1px;
        font-size: small;
    }

    img {
        height: 18rem;
        width: 18rem;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        gap: 0px;
    }

    .gettoknow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allabout h3 {
        font-size: 40px;
    }

    .aboutme p {
        font-size: 15px;
    }

    .myjourney {
        /* border: 2px solid rgb(255, 145, 0); */
        width: 80rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        padding: 10px 30px;
        margin: 2px 10px;
    }








}

