/* GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    /* border: 10px solid rgb(255, 0, 195); */
    background-color: #a3b18a;
    height: 100%;
    color: #a3b18a;
}

/* HEADER SECTION */
.header2 {
    background: #a3b18a;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2 {
    font-size: 40px;
    color: #000000;
    font-weight: 900; 
    text-decoration: none;
}

.navbar2 a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    margin-left: 50px;
}

.navbar2 a:hover,
.navbar2 a:hover:active {
    color: #ffffff;
}


/* BODY CONTAINER SECTION */
.allabout {
    /* border: 2px solid black; */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    color: #000;
    font-size: small;
    margin: 20px 80px;
    padding: 10px 40px;
}


/* ABOUT ME CONTAINER SECTION */
.aboutme {
    /* border: 2px solid rgb(4, 37, 247); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 50px;
}

.gettoknow {
    /* border: 2px solid rgb(4, 37, 247); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allabout h3 {
    /* border: 2px solid rgb(207, 23, 23); */
    background-color: transparent;
    font-size: 50px;
}

.aboutme p {
    /* border: 2px solid green; */
    /* padding: 20px 50px; */
    font-size: 20px;
}
.myimage img {
    /* border: 2px solid rgb(106, 255, 0); */
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

#me {
    color: rgb(252, 252, 252);
}



/* MY JOURNEY CONTAINER SECTION */
.myjourney {
    /* border: 2px solid rgb(255, 145, 0); */
    width: 80rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    margin: 5px 20px;
}

.education {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

.certification {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}
.workexperience {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

/* MY OTHERSDIE CONTAINER SECTION */
.otherside {
    /* border: 2px solid rgb(207, 32, 1); */
    width: 80rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    margin: 5px 20px;
}


.mybelieve {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

.myhobbies {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

.notworking {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

/* LETS CONNECT CONTAINER SECTION */
.letsconnect {
    /* border: 2px solid rgb(252, 0, 134); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect {
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 20px;
    width: 600px;
    /* height: 100px; */
    padding: 20px 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}



/* FOOTER CONTAINER SECTION */
footer {
    /* border: 2px solid rgb(255, 166, 0); */
    background-color: #344e41;
    margin: 0px 150px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 100px;
    width: 80%;
    gap: 5rem;
}

/* SOCIAL MEDIA LINK SECTION */
.sm-home2 {
    /* border: 2px solid rgb(0, 255, 51); */
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sm-home2 a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    font-size: 20px;
    color: #a3b18a;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.sm-home2 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: .3s;
}

.sm-home2 a:hover::before {
    width: 100%;
}

.close2 p,
.cc2 {
    /* border: 2px solid rgb(255, 0, 0); */
    font-size: 12px;
    font-weight: 400;
    color: #a3b18a;
    display: inline-flex;
    /* flex-direction: column;
    justify-content: center;
    align-content: center; */
}