*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    /* border: 10px solid rgb(255, 0, 195); */
    background-color: #a3b18a;
    height: 100vh;
    /* color: #fffdfd; */
}


/* HEADER SECTION */
.header {
    background: #a3b18a;
    /* border-bottom: 2px solid #f30808eb; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    color: #000000;
    font-weight: 900; 
    text-decoration: none;
}

.navbar a {
    color: #a3b18a;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    margin-left: 50px;
}

.navbar a:hover,
.navbar a:hover:active {
    color: #ffffff;
}


/* CONTACT BODY */
.introcontainer {
    border: 4px solid chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactmeheader {
    border: 4px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.contactmeheader p {
    border: 4px solid #27d21e;
    font-size: small;
    height: fit-content;
}
.contactmeheader h3 {
    border: 4px solid #a66612;
    color: #ffffff;
    font-size: 40px;
    height: fit-content;
}

.contactmeheader h3 > span {
    border: 4px solid #fe0000;
    color: #000000;
    font-size: 40px;
    height: fit-content;
}

.contactcontainer {
    border: 4px solid #5a1ed2;
}
.subcontainer {
    border: 4px solid #d21e1e;
}
.socialmediacontainer {
    border: 4px solid #ffcc00;
}
.emailcontact {
    border: 4px solid hsl(105, 100%, 50%);
}
.emailcontainer {
    border: 4px solid rgb(255, 132, 0);
}








/* FOOTER CONTAINER SECTION */
footer {
    /* border: 2px solid rgb(255, 166, 0); */
    background-color: #344e41;
    margin: 0px 150px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 100px;
    width: 80%;
    gap: 5rem;
}

/* SOCIAL MEDIA LINK SECTION */
.sm-home4 {
    /* border: 2px solid rgb(0, 255, 51); */
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sm-home4 a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    font-size: 20px;
    color: #a3b18a;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.sm-home4 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: .3s;
}

.sm-home4 a:hover::before {
    width: 100%;
}

.close4 p,
.cc4 {
    /* border: 2px solid rgb(255, 0, 0); */
    font-size: 14px;
    font-weight: 400;
    color: #a3b18a;
    display: inline-flex;
    /* flex-direction: column;
    justify-content: center;
    align-content: center; */
}