/* Mobile Phones */
@media screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2px;
        padding: 20px 0px;
        width: 100%;
    }

    .navlist {
        display: block;
    }

    .navbar {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 18vh;
        color: #ffffff;
        font-size: 20px;
        background-color: #a3b18a;
       
    }

    .cancel{
        display: block;
        color: #000000;
    }

    .navbar ul{
        flex-direction: column;
    }

    .navbar ul li a {
        font-size: 15px;
        color: #000000;
    }

    .navbar ul li a:hover,
    .navbar ul li a:hover:active {
            color: #ffffffeb;
            transform: translateX(20px);
    }

    .navbar .cancel ul i {
        color: #000000;
    }

    .navbar > a {
        flex-direction: column;
        align-items: left;
        justify-content: center;

    }

    .logo a {
        font-size: 25px;
    }

    .navbar a {
        margin-left: 5px;
        font-size: small;
        display: inline-block;
        gap: 5px;
    }

    img {
        height: 18rem;
        width: 18rem;
    }

    .home {
        flex-direction: column-reverse;
        column-gap: 50px;
    }

    .home-content {
        width: 350px;
    }

    .home-content h1 {
        font-size: 31px;
        margin-top: 30px;
    }

    .home-content h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .home-content p {
        /* border: 2px solid rgb(195, 0, 255); */
        font-size: 15px;
        font-weight: 500;
        color:  #a3b18a;
        margin-bottom: 50px;
    }

    .btnbox a {
        font-size: 13px;
        width: 90px;
    }

    .home-content .btnbox {
        display: flex;
        justify-content: 20px;
        width: 220px;
        height: 40px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        gap: .5rem;
        row-gap: 5px;
        width: 90%;
        margin: 0px 22px;
    }
    

    footer p {
        font-size: 10px;
    }

    .close {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    /* ABOUT SECTION */
    .header2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2px;
        padding: 20px 0px;
        width: 100%;
    }

    .logo2 {
        font-size: 25px;
    }

    .navbar2 a {
        margin-left: 1px;
        font-size: small;
    }

    img {
        height: 18rem;
        width: 18rem;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        gap: 0px;
    }

    .gettoknow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allabout h3 {
        font-size: 40px;
    }

    .aboutme p {
        font-size: 15px;
    }

    .myjourney {
        /* border: 2px solid rgb(255, 145, 0); */
        /* width: 80rem; */
        /* height: fit-content; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        margin: 20px 20px;
    }

    .otherside {
        /* border: 2px solid rgb(207, 32, 1); */
        /* width: 80rem; */
        /* height: fit-content; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        gap: 10px;
        padding: 10px 0px;
        /* margin: 5px 20px; */
    }

    .letsconnect {
       margin: auto;
       padding: 0px 0px;
    }

    .connect {
        /* border: 2px solid rgb(0, 0, 0); */
        /* border-radius: 20px; */
        width: 300px;
        /* height: 100px; */
        padding: 20px 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* align-content: center; */
    }

    .close2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    


    /* CONTACT PAge */
    .introcontainer {
        flex-direction: column;
        height: 300px;
    }

    .contactcontainer {
        flex-direction: column;
        padding: 30px;
    }

    .contactcontainer .socialmedia {
        padding: 10px 2px;
        text-align: left;
        z-index: -1;
    }

    .contactcontainer .socialmedia .box {
        display: flex;
        flex-direction: row;
        padding: 10px 100px;
        justify-content:left;
    }


    .contactcontainer .socialmedia .box .icon {
        margin: 20px;
        justify-content:left;
    }

    .contactcontainer .socialmedia .box .text {
        padding-right: 100px;
    }

    .contactcontainer .socialmedia .box .text,
    .contactcontainer .socialmedia .box .icon {
    display: block;
    justify-content: left;
    margin-right: 10px;
    text-align: left;
}

    .contactcontainer .socialmedia .box .text p {
        /* border: 2px solid rgb(242, 5, 5); */
        width: 3;
        font-weight: 900;
        color: #ffffff;
    }

    /* PROJECT PAGE */
    .projects {
        display: flex;
        flex-direction: column;
    }





}


@media (max-width: 991px)
{
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    
    .container .contactInfo {
        margin-bottom: 40px;
    }
    
    .container .contactInfo {
        width: 100;
    }
}