@media screen and (max-width: 1200px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
        column-gap: 80px;
        padding: 20px 20px;
    }

    header {
        justify-content: space-evenly;
    }

    .logo a {
        font-size: 50px;
    }

    .navbar ul li {
        font-size: 20px;
    }
    

    img {
        height: 20rem;
        width: 20rem;
    }

    .home-content {
        width: 90%;
        margin: 5px 0px;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .home-content p {
        font-size: 25px;
    }
    

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 60px;
        width:90%;
        gap: 10px;
    }

    .sm-home {
        padding-top: 10px;
        gap: 20px;
    }

    .close p, .cc {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* ABOUT PAGE */
    .header2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2px;
        padding: 20px 0px;
        width: 100%;
    }
    .navbar ul li {
        font-size: 20px;
    }
    
    .allabout {
        display: flex;
        flex-direction: column;
    }

    .myjourney, .otherside {
        justify-content: center;
    }

    .sm-home2 {
        padding-top: 10px;
        gap: 20px;
    }

    .close2 p, .cc2 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* PROJECT PAGE */
    .projects {
        margin: 20px 0px;
        padding: 10px;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }

    .projects h3 {
        font-size: 20px;
        line-height: 1.0;
    }

    .projects p {
        padding-bottom: 30px;
    }

    .project1, .project2, .project3, .project4 {
        width: 380px;
        gap: 10px;
        margin: 2px;
    }

    .btcontrol {
        gap: 10px;
    }

    .btnbox a {
        padding: 5px;
        margin-bottom: 2px;
    }

    .sm-home3 {
        padding-top: 10px;
        gap: 20px;
    }

    .close3 p, .cc3 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* CONTACT PAGE */
    .contactcontainer {
        width: 100%;
        padding: 0px 5px;
    }
    .contactcontainer .socialmedia {
        margin: 0px 2px;
        padding: 0px 10px;
    }

    .contactcontainer .socialmedia .box {
        padding: 20px 0px;
    }

    .contactcontainer .socialmedia .box .text {
        padding-right: 20px;
    }
    .sendmessage {
        margin: 10px 5px;
        padding: 30px 20px;
    }

}